apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: api
  labels:
    app.kubernetes.io/name: api
    app.kubernetes.io/part-of: smartbeak
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: api
