apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: worker
  labels:
    app.kubernetes.io/name: worker
    app.kubernetes.io/part-of: smartbeak
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: worker
